Repository nushell-works/nu_plugin_nw_ulid: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-audit, cargo-deny

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust format
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false
      
      - id: clippy
        name: Rust clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: local
    hooks:
      - id: cargo-test
        name: Rust test
        entry: cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit
        entry: cargo audit
        language: system
        files: Cargo\.(toml|lock)
        pass_filenames: false

      - id: cargo-deny
        name: Supply chain security
        entry: cargo deny check
        language: system
        files: (Cargo\.(toml|lock)|deny\.toml)
        pass_filenames: false

      - id: no-commit-credentials
        name: Block credential commits
        entry: '\b(password|secret|token|key|api_key|private_key)\s*[:=]\s*[^\s]+'
        language: pygrep
        types: [text]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
    
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Configure git attributes and comprehensive ignore patterns
  .vscode/settings.json
Due: none

Remove accidentally committed local settings file
  .gitignore
Due: none

Fix CI failures: Update MSRV and resolve dependency conflicts
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  src/lib.rs
Due: cargo-test, cargo-audit, cargo-deny

Implement Phase 1.2: Complete demo command suite
  Cargo.lock
  Cargo.toml
  src/commands/encode.rs
  src/commands/hash.rs
  src/commands/info.rs
  src/commands/mod.rs
  src/commands/time.rs
  src/commands/uuid.rs
  src/lib.rs
Due: cargo-test, cargo-audit, cargo-deny

stuff
  README.md
Due: none

Fix formatting and README rendering issues
  README.md
  src/commands/encode.rs
  src/commands/hash.rs
  src/commands/info.rs
  src/commands/mod.rs
  src/commands/time.rs
  src/commands/uuid.rs
  src/lib.rs
Due: cargo-test

Complete Phase 1.2: Demo implementation with comprehensive testing
  DEMO_RESULTS.md
  test_demo.nu
Due: none

Update project plan: Mark Phase 1 as complete
  docs/plan/project.md
Due: none

Complete Phase 2.1: Comprehensive ULID specification and ecosystem analysis
  docs/research/ulid-analysis.md
Due: none

Enhance project plan with comprehensive Nushell scripting API support
  docs/plan/project.md
  docs/plan/scripting-api.md
Due: none

Complete Phase 2.2: Architecture Design for production ULID implementation
  docs/plan/architecture.md
Due: none

Complete Phase 2.3: Technical Planning for production implementation
  docs/plan/technical-plan.md
Due: none

Complete Phase 3: Core ULID Plugin Implementation
  Cargo.lock
  Cargo.toml
  src/commands/mod.rs
  src/commands/ulid.rs
  src/error.rs
  src/lib.rs
  src/security.rs
  src/ulid_engine.rs
Due: cargo-test, cargo-audit, cargo-deny

Add git commit hooks with cargo fmt and quality checks
  .githooks/README.md
Due: none

Complete Phase 3.2: Core Plugin Commands Implementation
  Cargo.lock
  Cargo.toml
  docs/plan/project.md
  src/commands/mod.rs
  src/commands/sort.rs
  src/lib.rs
Due: cargo-test, cargo-audit, cargo-deny

Update project plan to reflect substantial Phase 3 completion
  docs/plan/project.md
Due: none

Complete Phase 3: Add streaming support and comprehensive scripting API
  docs/plan/project.md
  docs/scripting/README.md
  docs/scripting/api.md
  docs/scripting/examples/automation-workflows.nu
  docs/scripting/examples/batch-operations.nu
  docs/scripting/examples/data-processing.nu
  docs/scripting/helpers.nu
  src/commands/mod.rs
  src/commands/stream.rs
  src/lib.rs
Due: cargo-test

Complete Phase 3: Add streaming support, comprehensive scripting API, and update project plan
  docs/plan/project.md
Due: none

Complete Phase 4: Production Hardening with comprehensive security, performance, and quality validation
  Cargo.lock
  Cargo.toml
  benches/performance_benchmarks.rs
  docs/plan/project.md
  docs/quality/phase4-completion-report.md
  docs/security/audit-report.md
  tests/performance_tests.rs
  tests/security_tests.rs
Due: cargo-test, cargo-audit, cargo-deny

Code formatting improvements for Phase 4 completion
  benches/performance_benchmarks.rs
  tests/performance_tests.rs
  tests/security_tests.rs
Due: cargo-test

Update plugin for Nushell 0.106.1 compatibility
  Cargo.lock
  Cargo.toml
  src/commands/encode.rs
  src/commands/hash.rs
  src/commands/info.rs
  src/commands/sort.rs
  src/commands/stream.rs
  src/commands/time.rs
  src/commands/ulid.rs
  src/commands/uuid.rs
  src/error.rs
Due: cargo-test, cargo-audit, cargo-deny

Complete user documentation update for production release
  README.md
Due: none

Update to Rust edition 2024 and MSRV 1.85.0
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  benches/performance_benchmarks.rs
  src/commands/encode.rs
  src/commands/hash.rs
  src/commands/time.rs
  src/commands/ulid.rs
  src/error.rs
  src/main.rs
  tests/performance_tests.rs
Due: cargo-test, cargo-audit, cargo-deny

Fix CI license check: Allow MPL-2.0 license for Nushell dependencies
  deny.toml
Due: cargo-deny

Refactor CI integration tests to use local scripts
  .github/workflows/ci.yml
  Makefile
  scripts/test-integration.ps1
  scripts/test-integration.sh
Due: none

Fix security-advice command syntax in integration tests
  scripts/test-integration.ps1
  scripts/test-integration.sh
Due: none

Rename package to nw-nu_plugin_ulid for crates.io publication
  Cargo.lock
  Cargo.toml
  README.md
  docs/MIGRATION.md
Due: cargo-audit, cargo-deny

feat: Complete Phase 5 documentation and release preparation
  CONTRIBUTING.md
  docs/DEVELOPER_GUIDE.md
  docs/PERFORMANCE_GUIDE.md
  docs/USER_GUIDE.md
  docs/plan/project.md
  docs/scripting/README.md
  docs/scripting/api.md
  docs/templates/QUICK_REFERENCE.md
  docs/templates/README.md
  docs/templates/api-request-tracking.nu
  docs/templates/database-migration.nu
  docs/templates/log-analysis.nu
Due: none

feat: Complete Phase 5.2-5.3 community preparation and release readiness
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/script_template.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
  docs/COMMUNITY_STANDARDS.md
  docs/MAINTENANCE_PROCEDURES.md
  docs/MIGRATION_GUIDE.md
  docs/RELEASE_PROCEDURES.md
  docs/SUPPORT_GUIDE.md
  docs/plan/project.md
Due: cargo-audit, cargo-deny

fix: Align parsing performance test and documentation with actual measurements
  docs/PERFORMANCE_GUIDE.md
  tests/performance_tests.rs
Due: cargo-test

feat: Enhance release workflow with quality gates and organization credentials
  .github/workflows/release.yml
Due: none

feat: Complete Phase 5.3 with community announcement and monitoring infrastructure
  docs/COMMUNITY_ANNOUNCEMENT_PLAN.md
  docs/MONITORING_INFRASTRUCTURE.md
Due: none

feat: Complete Phase 5 - Documentation & Release with full production readiness
  docs/USER_GUIDE.md
Due: none

fix: Ensure Nushell config directory exists in CI integration tests
  scripts/test-integration.sh
Due: none

Fix CI integration tests for all platforms with enhanced debugging
  scripts/test-integration.ps1
  scripts/test-integration.sh
Due: none

Relax timestamp extraction performance test threshold
  tests/performance_tests.rs
Due: cargo-test

Fix Windows PowerShell integration test path escaping and registry issues
  scripts/test-integration.ps1
Due: none

Relax validation performance test threshold for CI environments
  tests/performance_tests.rs
Due: cargo-test

Fix persistent GitHub release failures: implement research-based manual dispatch workflow
  .github/workflows/release.yml
Due: none

Update release procedures for new manual dispatch workflow
  docs/RELEASE_PROCEDURES.md
Due: none
