Repository nushell-works/nu_plugin_nw_ulid: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-audit, cargo-deny

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust format
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false
      
      - id: clippy
        name: Rust clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: local
    hooks:
      - id: cargo-test
        name: Rust test
        entry: cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit
        entry: cargo audit
        language: system
        files: Cargo\.(toml|lock)
        pass_filenames: false

      - id: cargo-deny
        name: Supply chain security
        entry: cargo deny check
        language: system
        files: (Cargo\.(toml|lock)|deny\.toml)
        pass_filenames: false

      - id: no-commit-credentials
        name: Block credential commits
        entry: '\b(password|secret|token|key|api_key|private_key)\s*[:=]\s*[^\s]+'
        language: pygrep
        types: [text]

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
    
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Disable timing attack resistance test for CI stability
  tests/security_tests.rs
Due: cargo-test

Test plan
  docs/plan/tests.md
Due: none

Add comprehensive unit tests for ULID and Hash commands
  docs/plan/tests.md
  src/commands/hash.rs
  src/commands/ulid.rs
Due: cargo-test

Implement comprehensive test code exclusion from coverage measurement
  .codecov.yml
  .github/workflows/ci.yml
Due: none

Add comprehensive execution logic tests for Hash commands
  src/commands/hash.rs
Due: cargo-test

Add comprehensive execution logic tests for ULID commands
  src/commands/ulid.rs
Due: cargo-test

Add comprehensive execution logic tests for Time commands
  src/commands/time.rs
Due: cargo-test

Fix deprecated rand::thread_rng() usage in tests
  src/commands/hash.rs
Due: cargo-test

Complete fix for deprecated rand::thread_rng() usage
  src/commands/hash.rs
Due: cargo-test

Rename package to nu_plugin_nw_ulid
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-deny

Bump version to 0.1.1
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-deny

Update CHANGELOG for v0.1.1 release
  CHANGELOG.md
Due: none

ci: update GitHub Actions to latest major versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

ci: temporarily disable Windows builds due to dependency conflict
  .github/workflows/ci.yml
Due: none

ci(security): allow MIT/Apache-2.0 dual license format
  .github/workflows/security.yml
Due: none

build(cargo): upgrade nushell dependencies to 0.109.1
  .github/workflows/ci.yml
  .github/workflows/security.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  deny.toml
  docs/DEVELOPER_GUIDE.md
  docs/MIGRATION.md
  docs/development-environment.md
  docs/scripting/api.md
  scripts/test-integration.ps1
  scripts/test-integration.sh
  src/commands/hash.rs
  src/commands/sort.rs
  src/commands/stream.rs
  src/commands/ulid.rs
  src/error.rs
  src/security.rs
  src/ulid_engine.rs
Due: cargo-test, cargo-audit, cargo-deny

ci(security): handle non-SPDX license format in nu-glob dependency
  .github/workflows/security.yml
Due: none

Enhance release workflow with comprehensive cleanup
  .github/workflows/release.yml
Due: none

Fix release workflow: only delete release, preserve tag
  .github/workflows/release.yml
Due: none

Add release replacement functionality to workflow
  .github/workflows/release.yml
Due: none

chore(release): bump version to 0.1.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-deny

ci(release): temporarily disable Windows builds
  .github/workflows/release.yml
Due: none

ci: add sync comments to OS matrix in workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(deps): upgrade nushell dependencies to 0.110.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  scripts/test-integration.ps1
  scripts/test-integration.sh
Due: cargo-audit, cargo-deny

chore(release): bump version to 0.1.3
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-deny

stuff
  .claude/skills/update-adr-inventory/SKILL.md
  docs/adrs/README.md
  docs/adrs/adr-0000.md
Due: none

docs: introduce Architecture Decision Records (ADR) framework
  .claude/skills/update-adr-inventory/SKILL.md
  docs/adrs/README.md
  docs/adrs/adr-0000.md
Due: none

docs: add comprehensive project style guide
  docs/STYLE_GUIDE.md
Due: none

docs: update panic handling guidelines for Nushell plugins
  docs/STYLE_GUIDE.md
Due: none

stuff
  docs/STYLE_GUIDE.md
Due: none

docs: add comprehensive style guide for nu_plugin_nw_ulid
  docs/STYLE_GUIDE.md
Due: none

style(engine,commands,error): extract magic literals into named constants per STYLE-0010
  src/commands/hash.rs
  src/commands/sort.rs
  src/commands/stream.rs
  src/commands/time.rs
  src/commands/ulid.rs
  src/error.rs
  src/ulid_engine.rs
Due: cargo-test

style(engine,commands): fix import ordering per STYLE-0005
  src/commands/sort.rs
  src/ulid_engine.rs
Due: cargo-test

style(cli): improve error handling per STYLE-0012
  src/commands/encode.rs
  src/commands/hash.rs
  src/commands/sort.rs
Due: cargo-test

style: add module and struct docs per STYLE-0004
  src/commands/encode.rs
  src/commands/hash.rs
  src/commands/info.rs
  src/commands/mod.rs
  src/commands/sort.rs
  src/commands/stream.rs
  src/commands/time.rs
  src/commands/ulid.rs
  src/commands/uuid.rs
  src/error.rs
  src/lib.rs
  src/main.rs
  src/security.rs
  src/ulid_engine.rs
Due: cargo-test

style(core): add #[must_use] to pure functions per STYLE-0008
  src/security.rs
  src/ulid_engine.rs
Due: cargo-test
