Repository nushell-works/nu_plugin_nw_ulid: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-audit, cargo-deny

cargo-test:
  name: Rust test
  entry: cargo test --all-features
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-deny:
  name: Supply chain security
  entry: cargo deny check
  language: system
  pass_filenames: false

refactor(cli): extract helper functions from long command methods per STYLE-0011
  src/commands/sort.rs
  src/commands/time.rs
  src/commands/ulid.rs
  src/security.rs
  tests/security_tests.rs
Due: cargo-test

test(core): add comprehensive test coverage for ULID operations
  src/commands/sort.rs
  src/commands/time.rs
  src/commands/ulid.rs
  src/security.rs
Due: cargo-test

refactor(lib): remove unused error handling and security utilities
  src/error.rs
  src/lib.rs
  src/ulid_engine.rs
Due: cargo-test

refactor(core): replace magic numbers with named constants for time conversions
  src/commands/sort.rs
  src/commands/stream.rs
  src/commands/time.rs
  src/ulid_engine.rs
Due: cargo-test

refactor(test): simplify format assertions using PartialEq derive
  src/commands/ulid.rs
  src/ulid_engine.rs
Due: cargo-test

refactor(core): replace magic numbers with named constants
  src/commands/hash.rs
  src/commands/inspect.rs
  src/commands/mod.rs
  src/commands/sort.rs
  src/commands/ulid.rs
  src/ulid_engine.rs
  tests/performance_tests.rs
  tests/security_tests.rs
Due: cargo-test

refactor(cli): remove parallel processing stub from stream command
  src/commands/stream.rs
Due: cargo-test

docs(style): add command domain grouping guidelines for plugin architecture
  docs/STYLE_GUIDE.md
Due: none

chore(config): remove vscode settings from repo and gitignore the directory
  .gitignore
  .vscode/settings.json
Due: none

chore(config): add claude worktrees and vscode to gitignore
  .gitignore
Due: none

docs(docs): add guidance on checking for existing constants before defining new ones
  docs/STYLE_GUIDE.md
Due: none

docs(style): add missing scopes to STYLE-0003 commit scope table
  docs/STYLE_GUIDE.md
Due: none

ci(ci,config): add commit message validation workflow and guidelines
  .github/workflows/commit-check.yml
  .omni-dev/commit-guidelines.md
  .omni-dev/scopes.yaml
Due: none

docs(docs): add ADR-0001 for conventional commits with project-specific scopes
  docs/adrs/README.md
  docs/adrs/adr-0001.md
Due: none

docs(docs,config): add ADR-0002 for supply chain security via cargo-deny
  deny.toml
  docs/adrs/README.md
  docs/adrs/adr-0002.md
Due: cargo-deny

ci(ci): extract clippy into a dedicated job
  .github/workflows/ci.yml
Due: none

docs(docs): add CLAUDE.md with nushell dependency versioning guidance
  CLAUDE.md
Due: none

ci(ci): extract msrv from cargo.toml instead of hardcoding
  .github/workflows/ci.yml
Due: none

docs(docs): accept ADR-0001 conventional commits
  docs/adrs/README.md
  docs/adrs/adr-0001.md
Due: none

docs(docs): add ADR-0003 for aggressive Nushell version tracking
  CONTRIBUTING.md
  docs/adrs/README.md
  docs/adrs/adr-0003.md
Due: none

docs(style): add STYLE-0015 rule for preferring std over external crates
  docs/STYLE_GUIDE.md
Due: none

docs(docs,style): update developer guide and add STYLE-0015 error boundary convention
  docs/DEVELOPER_GUIDE.md
  docs/STYLE_GUIDE.md
  docs/architecture/plugin-design.md
Due: none

test(test): relax performance threshold from 3x to 5x of reference
  tests/performance_tests.rs
Due: cargo-test

docs(style,docs): add STYLE-0017 feature justification rule
  CLAUDE.md
  docs/STYLE_GUIDE.md
Due: none

chore(release): bump version to 0.1.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-deny

refactor(commands,security,docs): remove --context flag and context-based security detection
  README.md
  docs/STYLE_GUIDE.md
  docs/USER_GUIDE.md
  docs/scripting/README.md
  docs/scripting/api.md
  docs/scripting/helpers.nu
  docs/templates/QUICK_REFERENCE.md
  docs/templates/api-request-tracking.nu
  docs/templates/database-migration.nu
  src/commands/ulid.rs
  src/security.rs
Due: cargo-test

refactor(commands,docs): remove ulid stream and generate-stream commands
  README.md
  docs/COMMUNITY_ANNOUNCEMENT_PLAN.md
  docs/DEVELOPER_GUIDE.md
  docs/MIGRATION.md
  docs/MIGRATION_GUIDE.md
  docs/PERFORMANCE_GUIDE.md
  docs/STYLE_GUIDE.md
  docs/USER_GUIDE.md
  docs/plan/project.md
  docs/scripting/README.md
  docs/scripting/api.md
  docs/security/audit-report.md
  docs/templates/QUICK_REFERENCE.md
  docs/templates/README.md
  scripts/test-integration.ps1
  scripts/test-integration.sh
  src/commands/mod.rs
  src/commands/stream.rs
  src/lib.rs
Due: cargo-test

feat(commands,cargo)!: remove uuid compatibility commands
  Cargo.lock
  Cargo.toml
  src/commands/mod.rs
  src/commands/uuid.rs
  src/lib.rs
Due: cargo-test, cargo-audit, cargo-deny

feat(commands,cargo,docs)!: remove hash commands (sha256, sha512, blake3, random)
  Cargo.lock
  Cargo.toml
  README.md
  docs/STYLE_GUIDE.md
  docs/USER_GUIDE.md
  docs/scripting/api.md
  src/commands/hash.rs
  src/commands/mod.rs
  src/lib.rs
Due: cargo-test, cargo-audit, cargo-deny

refactor(commands,engine): remove --detailed flag and UlidValidationResult from validate command
  src/commands/ulid.rs
  src/ulid_engine.rs
Due: cargo-test

feat(commands,engine,docs)!: replace --format flag with pipeline-native commands
  README.md
  docs/adrs/README.md
  docs/adrs/adr-0004.md
  docs/plan/architecture.md
  docs/plan/tests.md
  docs/scripting/api.md
  src/commands/encode.rs
  src/commands/mod.rs
  src/commands/ulid.rs
  src/lib.rs
  src/ulid_engine.rs
Due: cargo-test

test(test): relax validation performance threshold from 5x to 7x
  tests/performance_tests.rs
Due: cargo-test

release(cargo,docs,release): bump version to 0.2.0 with breaking changes
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-deny

Updated nu to 0.112.2.
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
Due: cargo-audit, cargo-deny

Path conditions:
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)
